.zetheme_menu_class {
    list-style: none;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color:#666666;
    cursor:pointer;
}
.zetheme_menu_link_class {
    text-decoration: none;
    color:#000;
}
.seek {
    font-size: 22px;
}